[submodule "rodentbane"]
	path = rodentbane
	url = ./rodentbane
[submodule "shifty"]
	path = shifty
	url = ./shifty
[submodule "vicious"]
	path = vicious
	url = ./vicious
[submodule "tyrannical"]
	path = tyrannical
	url = https://github.com/Elv13/tyrannical.git
